<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class='well'>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

</div>
    <%= f.input :pic_url %>
    <%= f.input :twitter_handle %>
    <%= f.input :age %>
    <%= f.input :bio %>
    <%= f.input :dive_count %>
    <%= f.input :hometown %>
    <%= f.input :diver_type %>
    <%= f.input :diver_level %>
 
    <%= f.submit %>

<% end %>
