<%= simple_form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :difficulty %>
    <%= f.input :depth %>
    <%= f.input :site_type, :collection => SITE_TYPES %>
    <%= f.input :sub_type , :collection => SUB_TYPES%>
 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
